.formulario {
  background-color: rgba(163, 194, 222, 0.296);
}
.containerFormulario {
  position: absolute; /* Permite posicionarlo dentro del contenedor */
  padding: 0px !important;
  top: 100px;
  left: 50px;
  color: white;
  z-index: 2; /* Está encima del Div 1 */
}
